<%= form_for(drug) do |f| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="infolist">

    <p>List</p>
    <p>Effects</p>
    <p>Uses</p>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
