<%= form_for(surprise) do |f| %>
  <% if surprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surprise.errors.count, "error") %> prohibited this surprise from being saved:</h2>

      <ul>
      <% surprise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
