<%= form_for(respect) do |f| %>
  <% if respect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respect.errors.count, "error") %> prohibited this respect from being saved:</h2>

      <ul>
      <% respect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
