<%= form_for(smell) do |f| %>
  <% if smell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(smell.errors.count, "error") %> prohibited this smell from being saved:</h2>

      <ul>
      <% smell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
