<%= form_for(amphetamine) do |f| %>
  <% if amphetamine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amphetamine.errors.count, "error") %> prohibited this amphetamine from being saved:</h2>

      <ul>
      <% amphetamine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
