<%= form_for(fear) do |f| %>
  <% if fear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fear.errors.count, "error") %> prohibited this fear from being saved:</h2>

      <ul>
      <% fear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
