<%= form_for(sense) do |f| %>
  <% if sense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sense.errors.count, "error") %> prohibited this sense from being saved:</h2>

      <ul>
      <% sense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
