<%= form_for(ghb) do |f| %>
  <% if ghb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ghb.errors.count, "error") %> prohibited this ghb from being saved:</h2>

      <ul>
      <% ghb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
