<%= form_for(mdama) do |f| %>
  <% if mdama.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mdama.errors.count, "error") %> prohibited this mdama from being saved:</h2>

      <ul>
      <% mdama.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
